{% extends "hello/layout.html" %}
{% block title %} Add Entry {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}" />

<div class="container" style="display: flex;">
    <div class="left-column" style="flex: 1;">
        <h2>Add entry</h2>

        <!-- Error messages -->
        {% if errors.first_name %}
        <div class="alert alert-danger" style="color: red">
            Please enter a valid first name (no special characters or numbers)
        </div>
        {% endif %} {% if errors.last_name %}
        <div class="alert alert-danger" style="color: red">
            Please enter a valid last name (no special characters or numbers)
        </div>
        {% endif %} {% if errors.email %}
        <div class="alert alert-danger" style="color: red">
            Please enter a valid email address
        </div>
        {% endif %}

        <form method="POST" action="{% url 'add_entry' %}" class="entry-form">
            {% csrf_token %}
            <!-- Form fields with error messages -->
            <label for="company_name">Company Name:</label>
            <input type="text" id="company_name" name="company_name" required />
            <br />

            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required />
            <br />

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required />
            <br />

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
            <br />

            <label for="alumni">Alumni:</label>
            <input type="checkbox" id="alumni" name="alumni" /><br />

            <label for="release_info">Can We Release Your Info:</label>
            <input type="checkbox" id="release_info" name="release_info" /><br />

            <button type="submit" class="btn">Register</button>
        </form>
    </div>
    <div class="right-column" style="flex: 1;">
        <!-- Text to be displayed on the right side -->
        <h3>What Happens Next?</h3>
        <p>Once you submit your information, you will receive an email from admin@eventcheck-in.com containing your QR code. This QR code will grant you access to the event. Please ensure the accuracy of your information before submitting.</p>
    </div>
</div>
{% endblock %}
