{% extends "hello/layout.html" %}
{% block title %} Add Entry {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}" />


<div class="row g-5">
    <div class="col py-3 bg-body-tertiary rounded-3" >
        <h2>Self Registration</h2>

        <!-- Error messages -->
        {% if errors.first_name %}
        <div class="alert alert-danger" style="color: red">
            Please enter a valid first name (no special characters or numbers)
        </div>
        {% endif %} {% if errors.last_name %}
        <div class="alert alert-danger" style="color: red">
            Please enter a valid last name (no special characters or numbers)
        </div>
        {% endif %} {% if errors.email %}
        <div class="alert alert-danger" style="color: red">
            Please enter a valid email address
        </div>
        {% endif %}

        <form method="POST" action="{% url 'add_entry' %}" class="entry-form">
            {% csrf_token %}
            <!-- Form fields with error messages -->

            <label for="company_name" class="form-label pt-3">Company Name</label>
            <input type="text" id="company_name" name="company_name" class="form-control" required />

            <label for="first_name"  class="form-label pt-3">First Name</label>
            <input type="text" id="first_name" name="first_name" class="form-control" required />

            <label for="last_name"  class="form-label pt-3">Last Name</label>
            <input type="text" id="last_name" name="last_name" class="form-control" required />

            <label for="email"  class="form-label pt-3">Email</label>
            <input type="email" id="email" name="email" class="form-control" required />

            <div class="form-check pt-3">
                <label for="alumni" class="form-check-label">RIT Alumni</label>
                <input type="checkbox" id="alumni" name="alumni" class="form-check-input"/>
            </div>

            <div class="form-check py-3">
                <label for="release_info" class="form-check-label">Permission to release your contact information to students</label>
                <input type="checkbox" id="release_info" name="release_info" class="form-check-input"/>
            </div>

            <button type="submit" class="btn btn-secondary">Register</button>
        </form>
    </div>
    <div class="col py-3">
        <!-- Text to be displayed on the right side -->
        <h3>What Happens Next?</h3>
        <p>Once you submit your information, you are free to head to your table. Please ensure the accuracy of your information before submitting.</p>
    </div>
</div>
{% endblock %}
