{% extends "hello/layout.html" %} {% block title %} Database Display
{%endblock%} {% block content %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}" />

<h2>Database Display</h2>

  <div class = 'row'>
    <!-- see https://getbootstrap.com/docs/5.3/layout/grid/ for bootstraps "grid" setup-->
    <div class="col-9">
      <nav>
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item"><a
            class="page-link"
            href="{% url 'db_display' page_obj.previous_page_number|stringformat:'s' %}"
            >Previous</a
          ></li>
          {% endif %}
          
          <li class="page-item active"><a class="page-link current-page" href="#">{{ page_obj.number }}</a></li>
          
          {% if page_obj.has_next %}
          <li class="page-item"><a
            class="page-link"
            href="{% url 'db_display' page_obj.next_page_number|stringformat:'s' %}"
            >Next</a
          ></li>
          {% endif %}
        </ul>
      </nav>
    </div>

    <div class="col-3">
      <form method="get" action="">
        {% if request.GET.filter_blanks %}
        <input type="hidden" name="filter_blanks" value="false" />
        <button type="submit" class="btn btn-warning">Show All Entries</button>
        {% else %}
        <input type="hidden" name="filter_blanks" value="true" />
        <button type="submit" class="btn btn-warning">View Rows with Blanks</button>
        {% endif %}
      </form>
    </div>
  </div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID Number</th>
      <th>Company Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Alumni</th>
      <th>Checked In</th>
      <th>Check In Time</th>
      <th>Table Number</th>
      <th>Email Sent</th>
      <th>Can We Release Your Info</th>
    </tr>
  </thead>
  <tbody>
    {% for row in page_obj %}
    <tr>
      <td class="box">{{ row.0 }}</td> <!-- ID Number -->
      <td class="box">{{ row.1 }}</td> <!-- Company Name -->
      <td class="box">{{ row.2 }}</td> <!-- First Name -->
      <td class="box">{{ row.3 }}</td> <!-- Last Name -->
      <td class="box">{{ row.4 }}</td> <!-- Email -->
      <td class="box">{% if row.5 != 'null' %}{{ row.5 }}{% endif %}</td> <!-- alumni -->
      <td class="box">{{ row.7 }}</td> <!-- checked in -->
      <td class="box">{{ row.8 }}</td> <!-- checked in time -->
      <td class="box">{% if row.9 != None %}{{ row.9 }}{% endif %}</td> <!-- table number -->
      <td class="box">{{ row.10 }}</td> <!-- email sent -->
      <td class="box">{% if row.6 != 'null' %}{{ row.6 }}{% endif %}</td> <!-- Can We Release Your Info -->
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a
      class="page-link"
      href="{% url 'db_display' page_obj.previous_page_number|stringformat:'s' %}"
      >Previous</a
    ></li>
    {% endif %}
    
    <li class="page-item active"><a class="page-link current-page" href="#">{{ page_obj.number }}</a></li>
    
    {% if page_obj.has_next %}
    <li class="page-item"><a
      class="page-link"
      href="{% url 'db_display' page_obj.next_page_number|stringformat:'s' %}"
      >Next</a
    ></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
