{% extends "hello/layout.html" %} {% block title %} Success! {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}" />


<div class="container" style="display: flex; text-align:center">
  <div class="left-column" style="flex: 1;">
    <div>
      <h3>
        Success!
      </h3>
    </div>
    <div>
      <p>
      Their table number is: {{ table_number }}
      </p>
    </div>
    <div>
      <p>
      Their company name is: {{ company_name }}
      </p>
    </div>  
  </div>

  <div class="right-column" style="flex: 1;">
    <div style="margin-bottom: 20px">
      <p>click the button below to scan a new QR code</p>
    </div>
    <a href="{% url 'search_by_id' %}" class="btn">ID Search</a>
  </div>
</div>
    
{% endblock %}

