{% extends "hello/layout.html" %} {% block title %} Success! {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}" />

<div class="row g-5">
  <div class="col py-3 bg-body-tertiary rounded-3" style="text-align:center">
    <h3 style="color: #228C22">Success!</h3>

    <div class="py-3">
      <h5>{{ company_name }}</h5>
      <h5>Table: {% if table_number != None %}{{ table_number }}{% endif %}</h5>
    </div>

  </div>

  <div class="col py-3" style="text-align:center">
    <!-- Text to be displayed on the right side -->
    <h3>QR Code Check-In</h3>
    <div class="py-2">
      <a href="{% url 'search_by_id' %}" class="btn btn-secondary" role="button">Check in another QR code</a>
    </div>
  </div>
</div>
    
{% endblock %}

