<!-- search.html -->

{% extends 'hello/layout.html' %} {% block content %}
<h1>Search by ID Number</h1>
<form method="get" action="{% url 'search_by_id' %}">
  <label for="id_number">ID Number:</label>
  <input type="text" name="id_number" id="id_number" />
  <button type="submit">Search</button>
</form>

{% if checkin %}
<h2>Result:</h2>
<p>Company Name: {{ checkin.Company_name }}</p>
<p>First Name: {{ checkin.First_name }}</p>
<p>email: {{ checkin.Email }}</p>
<p>Alumni: {{ checkin.Alumni }}</p>
<p>Cand We Release your info: {{ checkin.Release_info }}</p>
<p>ID Number: {{ checkin.Id_number }}</p>
<p>Checked in: {{ checkin.Checked_in }}</p>
<p>Time Checked in:{{ checkin.Checked_in_time}}</p>
<p>Table Number: {{checkin.Table_number}}</p>
{% endif %} {% endblock %}
