{% extends 'hello/layout.html' %} 
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}" />

<div class="row g-5">
  <div class="col py-3 bg-body-tertiary rounded-3" >
      <h3>Search by ID Number</h3>

      <form method="get" action="{% url 'search_by_id' %}" class="row g-3">
        <div class="col-auto">
          <label for="id_number" class="col-form-label">ID Number:</label>
        </div>
        <div class="col-auto">
          <input type="text" name="id_number" id="id_number" class="form-control"/>
        </div>
        <div class="col-auto">
          <button class="btn btn-secondary" type="submit">Search</button>
        </div>
      </form>

      <div class="py-3">
        {% if not entry and not error2 %}
        <div class="alert alert-danger">
          No corresponding entry for ID: {{id_number}}
        </div>
        {% endif %}
        {% if error2 %}
        <div class="alert alert-danger">
          ID {{id_number}} has already been checked in.
        </div>
        {% endif %}
      </div>

      {% if entry %}
      <h4>Please confirm your information</h4>
      <form method="POST" action="{% url 'submit_form' %}" class="entry-form">
        {% csrf_token %}
        <div class="row g-2 py-1">
          <div class="col-3">
            <label for="company_name" class="col-form-label"><b>Company Name</b></label>
          </div>
          <div class="col-7">
            <input type="text" name="company_name" value="{{ entry.company_name }}" class="form-control"/>
          </div>
        </div>

        <div class="row g-2 py-1">
          <div class="col-3">
            <label for="first_name" class="col-form-label"><b>First Name</b></label>
          </div>
          <div class="col-7">
            <input type="text" name="first_name" value="{{ entry.first_name }}" class="form-control"/>
          </div>
        </div>

        <div class="row g-2 py-1">
          <div class="col-3">
            <label for="last_name" class="col-form-label"><b>Last Name</b></label>
          </div>
          <div class="col-7">
            <input type="text" name="last_name" value="{{ entry.last_name }}" class="form-control"/>
          </div>
        </div>

        <div class="row g-2 py-1">
          <div class="col-3">
            <label for="email" class="col-form-label"><b>Email</b></label>
          </div>
          <div class="col-7">
            <input type="email" name="email" value="{{ entry.email }}" class="form-control"/>
          </div>
        </div>

        <div class="row g-2 py-2">
          <div class="col-3">
            <label for="alumni" class="col-form-check-label"><b>Alumni</b></label>
          </div>
          <div class="col-7">
            <input type="checkbox" name="alumni" class="form-check-input" {% if entry.alumni %} checked {% endif %} />
          </div>
        </div>

        <div class="row g-2 py-2">
          <div class="col-3">
            <label for="release_info" class="col-form-check-label"><b>Can We Release Your Info</b></label>
          </div>
          <div class="col-7">
            <input type="checkbox" name="release_info" class="form-check-input" {% if entry.release_info %}checked{% endif %} />
          </div>
        </div>

        <div class="row g-2 py-1">
          <div class="col-3">
            <label for="id_number" class="col-form-label visually-hidden"><b>ID</b></label>
          </div>
          <div class="col-7">
            <input type="text" name="id_number" value="{{ entry.id_number }}" class="form-control visually-hidden"/>
          </div>
        </div>

        <div class="row g-2 py-1">
          <div class="col-3">
            <label for="table_number" class="col-form-label visually-hidden"><b>Table Number</b></label>
          </div>
          <div class="col-7">
            <input type="text" name="table_number" value="{{ entry.table_number }}" class="form-control visually-hidden"/>
          </div>
        </div>

        <div>
          <button class="btn btn-secondary" type="submit">Check-in</button>
        </div>
      </form>
      {% endif %}
  </div>

  <div class="col py-3">
    <!-- Text to be displayed on the right side -->
    <h3>QR Code Check-In</h3>
    <div style="font-size: 20px; line-height: 1.6;">
      <p>
        <br> 
        1.  Make sure to click into the textbox before scanning.
        <br>
        <div class="indent1" style="font-size: 17px; margin-left: 20px">a. If the number scans twice, clear the textbox and try again. </div>
        <br>  
        2. Click the "Search" button once the number is scanned.
        <br><br>
        <div class="indent1" style="font-size: 17px; margin-left: 20px">a. If the number is not found, the page will display an error message. Direct them to use the self check-in station</div>
        <br>
        <div class="indent1" style="font-size: 17px; margin-left: 20px">b. If the number is found, the page will display the attendee's information. </div>
        <br>
        3. Verify that the info is accurate and click the "Check-in" button.
        <br>
      </p>
    </div>
  </div>
</div>
{% endblock %}