.message {
    font-weight: 600;
    color: blue;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[name=message] {
    width: 80%;
}

.message_list th,td {
    text-align: left;
    padding-right: 15px;
}

.employer_list th,td {
    text-align: left;
    padding-right: 15px;
}

.box {
    border: 1px solid black;
    padding: 5px;
  }

.red-text {
    color: red;
 }
  
table {
    border-collapse: collapse;
  }
  
 th,
 td {
   border: 1px solid black;
   padding: 8px;
 }
  
.populated-cell {
    background-color: #f5f5f5;
  }

.box {
    border: 1px solid black;
    padding: 5px;
  }

.btn {
    background-color: #F76902;
    border: 1px solid #F76902;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
  }