Hello {{ first_name }},
Thank you for registering for the RIT Career Fair! Please find your QR code attached to this email.
You will need to present this QR code at the Career Fair to check in. If you have any questions,
please contact us at _______. We look forward to seeing you at the Career Fair!


id number: {{ id_number }}

Click the below link to show your check-in code:
<img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={{id_number}}" alt="QR Code">


This email was sent from the website at the push of a button!