{% extends "hello/layout.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}" />

<h2>Send QR Code Emails</h2>
<p>Click the button below to send QR code emails to all eligible recipients.</p>

<form id="qrCodeForm" action="{% url 'send_qr_code' %}" method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-default" value="Send QR Code Emails" />
</form>

{% if message %}
<div class="alert alert-success">
  {{ message }}
</div>
{% endif %}

{% endblock %}
