{% extends "hello/layout.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}" />

<h2>Enter the id number to send the QR code to</h2>
<form id="qrCodeForm" action="{% url 'send_qr_code' %}" method="post">
  {% csrf_token %}
  <p><input type="text" name="id_number" required id="id_number" /></p>
  <input type="submit" class="btn btn-default" value="Send QR Code" />
</form>

{% if message %}
<div class="alert alert-success">
  {{ message }}
</div>
{% endif %}

{% endblock %}
